* {
    box-sizing: border-box;
}
body{
    
    margin:0;
}
.banner{
    display:block;
    width:100%;
    height:100px;
    background-image: url('Images/Country-Road-Background-HD-li.jpg');
    background-position:center;
    background-position-y:bottom;
    background-size: cover;
}
/*Mobile*/
[class*="col-"] {
    width: 100%;
    float: left;
}
/*Medium*/
@media only screen and (min-width: 640px){
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .banner{
        background-image: url('Images/Country-Road-Background-HD-M.jpg');
    }
}
/*Large*/
@media only screen and (min-width: 980px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .banner{
        background-image: url('Images/Country-Road-Background-HD-L.jpg');
    }
}
html {
    font-family: "Lucida Sans", sans-serif;
}
h1 {
    background-color: black;
    color: #ffffff;
    padding: 15px;
    text-align:center;
}
h2 {
    display:inline-block;
    background-color: greenyellow;
    padding: 10px;
    margin-top:0;
}
h3 {
    color: #263300;
    margin-bottom:0;
    font-size:12px;
}
h4{
    text-align:center;
}
/*Menu*/
ul{
    padding-left:0px;

}
li{
    padding-bottom:0;
    margin-bottom:2px;
    text-align:center;
    display:inline-block;
    background-color:  #ffffff;
}
/*Button*/
@media only screen and (max-width: 980px) {
    .btn {
        min-height: 80px;
        min-width: 150px;
    }
}
.btn{
    background-color:#ffffb3;
    margin-bottom:5px;
}
.btn:hover{
    background-color:#ffff99;
}
.btn-bis{
    min-height:40px;
    background-color: #d9ff66;
}
.btn-bis:hover{
    background-color: #d2ff4d;
}
.btnMenu{
    width:100%;
    height:70px;
    border-radius: 10px;
    text-align:center;
    background-color:  #ffffff;
    border:outset;  
}
.btnMenu:hover{
    background-color: #dfff80;
}
.groupForm{
    display:inline-block;
    padding-bottom:5px;
    min-height:50px;
}
.labelForm{
    display:inline-block;
    min-width:70px;
}
.journey{
    display:inline-block;
    border:groove;
    padding:10px;
    border-radius:5px;
}
.nbrSeat{
    float: right;
}
form{
    text-align:center;
}
.Sign{
    margin-top:80px;
}
