@model WebProject2017Server.Modèle.User
@{
        ViewBag.Title = "Sign_Up";
}
<h3>Sign_Up</h3>

@using (Html.BeginForm("Sign_Up", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <span style="color:red">@ViewBag.MessageErreur</span>

    @Html.Partial("_UserForm", @Model)
    <div class="groupForm col-">
        <input class="btn col-" type="submit" id="SendSearch" value="Valider"/>
    </div>
}

